# GHSA-6mq8-rvhq-8wgg et al.
aiohttp~=3.13.3
# GHSA-h4gh-qq45-vh27 GHSA-79v4-65xg-pq4g GHSA-r6ph-v2qm-q3c2
cryptography~=46.0.5
# GHSA-5rjg-fvgr-3xxf
setuptools>=80.1.1,<82
# GHSA-8rrh-rw8j-w5fx
wheel>=0.46.2
# CVE-2026-27448 CVE-2026-27459
pyOpenSSL~=26.0.0
